html,body {
margin:0;
padding:0;
}

#content{
	text-align: center;
}

#banner {
	height: 46px;
	font-size: 40px;
	color: rgb(0, 0, 0);
	background-color: #72dcf9;
	padding-left: 10px;
}

#intro {
	padding: 20px 225px 20px 225px;
	font-size: 18px;
}

#pro_pic {
	width: 300px;
	border-radius: 50%;
	border: 10px solid #111;
}

#professional{
	display: inline-block;
}

#fun{
	display: inline-block;
}

#fun_pic{
	width: 300px;
	border-radius: 50%;
	border: 10px solid #111;
	margin: 0 auto;
}

#twopics{
	margin: auto;
	vertical-align: middle;
}


.caption{
	padding-top: 10px;
	font-size: 30px;
	display: block;
}

.button { transition: all .2s ease-in-out; }
.button:hover { transform: scale(1.1); }

a.nav-link:link
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:active
{
   color: #000000;
   text-decoration: none;
}