html,body {
margin:0;
padding:0;
}



#banner {
	height: 46px;
	font-size: 40px;
	color: rgb(0, 0, 0);
	background-color: #72dcf9;
	padding-left: 10px;
}

#intro {
	text-align: center;
	padding: 20px 225px 20px 225px;
}

#pro_pic {
	width: 300px;
	display: inline-block;
	border-radius: 50%;
	border: 10px solid #111;
	/*float: left;*/

}

#professional{
	text-align: center;
	display: inline-block;
}

#fun_pic{
	width: 300px;
	display: inline-block;
	border-radius: 50%;
	border: 10px solid #111;
	margin: 0 auto;
}

#twopics{
	display: inline-block;
	margin: auto;
	vertical-align: middle;
	text-align: center;
}


.pics{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}


.caption{
	font-size: 30px;
	display: block;
}

/*
.pic_text{
	font-size: 30px;
	display: inline-block;
}
*/