html,body {
margin:0;
padding:0;
height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

#myTopnav{
    display: flex;
}

#nav_name{
    font-size: 24px;
    width: 30%;
}

#nav_bar{
    font-size: 17px;
    padding-top: 6px;
    width: 70%;
}

.icon_div{
    width: 13%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-size: 17px;*/
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.welcome_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

#my_travels{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    margin: 0;
    font-size: 7rem;
    white-space: nowrap;
}

h2{
    margin: 0;
    font-size: 3em;
    text-align: center;
    padding: 10% 200px 10% 200px;
    font-family: 'Indie Flower', cursive;
}

h3{
    margin: 0;
    color: white;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
/*    padding: 10% 200px 10% 200px;
*/    text-align: center;

}

.hor_line {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.banner_pic{
    background-position: center top;
    background-size: 100% auto;
    width: 100vw;  
    height: calc(100vw/3);
    text-overflow: ellipsis;
    overflow: hidden;

}

body:after{
 display:none;
 content: url("../../../Images/my_travels/chile_web.jpg") url("../../../Images/my_travels/geneva_web.jpg") 
 url("../../../Images/my_travels/baltimore_web.jpg") url("../../../Images/my_travels/greatwall_web.jpg")
 url("../../../Images/my_travels/annecy_web.jpg") url("../../../Images/my_travels/nepal_web.jpg");
}

#sp_pic{
    background-image: url("../../../Images/my_travels/chile_cropped_web.jpg");
}

#sp_pic:hover{
    background-image: url("../../../Images/my_travels/chile_web.jpg");
}

#geneva_pic{
    background-image: url("../../../Images/my_travels/geneva_cropped_web.jpg");
}

#geneva_pic:hover{
    background-image: url("../../../Images/my_travels/geneva_web.jpg");
}

#baltimore_pic{
    background-image: url("../../../Images/my_travels/baltimore_cropped_web.jpg");
}

#baltimore_pic:hover{
    background-image: url("../../../Images/my_travels/baltimore_web.jpg");
}

#beijing_pic{
    background-image: url("../../../Images/my_travels/great_wall_cropped_web.jpg");
}

#beijing_pic:hover{
    background-image: url("../../../Images/my_travels/greatwall_web.jpg");
}

#annecy_pic{
    background-image: url("../../../Images/my_travels/annecy_cropped_web.jpg");
}

#annecy_pic:hover{
    background-image: url("../../../Images/my_travels/annecy_web.jpg");
}

#nepal_pic{
    background-image: url("../../../Images/my_travels/nepal_cropped_web.jpg");
}

#nepal_pic:hover{
    background-image: url("../../../Images/my_travels/nepal_web.jpg");
}

.content{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Cabin', sans-serif;
}

/*.banner_pic:hover { 
  background:#000;

  filter: brightness(50%);  
  opacity: .60;
  filter:alpha(opacity=60);

 }*/

.banner_pic p{
    display: none;
 }

.banner_pic:hover p {

  display: block;
 }

a.para_link:link
{
   color: white;
   text-decoration: underline;

}
a.para_link:visited
{
   color: white;
   text-decoration: underline;
}
a.para_link:hover
{
   color: white;
   text-decoration: underline;
}
a.para_link:active
{
   color: white;
   text-decoration: underline;
}