/*#pinContainer {
	width: 100%;
	height: 100vh;

	overflow: hidden;
	-webkit-perspective: 1000;
	        perspective: 1000;
}
#slideContainer {
	width: 100%;  to contain 4 panels, each with 100% of window width 
	height: 400%;
}
.panel {
	height:25%;
	width: 100%; /* relative to parent -> 25% of 400% = 100% of window width 
	float: left;
}*/


#pinContainer {
/*	width: 100%;
*/	height: 100vh;

	overflow: hidden;
/*	-webkit-perspective: 1000;
	        perspective: 1000;*/
}
/*#slideContainer {
	width: 100%;  to contain 4 panels, each with 100% of window width 
	height: 400%;
}*/
.panel {
	height:100%;
	width: 100%; /* relative to parent -> 25% of 400% = 100% of window width */
	/*float: left;*/
	position: absolute;
}

.blue {
	background-image: url("../Images/my_work/RSGS_Dark.jpg");
    background-size: cover;
    background-position: center center;
}

.turqoise {
    background-image: url("../Images/my_work/CLASS_milky_v3_reduc_dark.jpg");
    background-size: cover;
    background-position: center center;
}